    .selected {
      background-color: #CFD8DC !important;
      color: white;
    }
    .gimages {
      cursor: pointer;
      border-radius: 4px;
    }
    .gimages .selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }
    .gimages:hover {
      color: #E6D3C3;
      background-color: #DDD;
      left: .1em;
    }
 